
GenerateCode/obj/

FrameworkAndDriver/obj/

GenerateCode.Adapters/obj/

GenerateCode.Application/obj/

GenerateCode.Configuration/obj/

GenerateCode.Domain/obj/

GenerateCode/bin/

GenerateCode.FrameworkAndDriver/obj/

GenerateCode.FrameworkAndDriver/bin/

GenerateCode.Domain/bin/

GenerateCode.Configuration/bin/

GenerateCode.Application/bin/

GenerateCode.Adapters/bin/
